body{    
    margin: 0;    
    overflow: hidden;        
}

iframe {
    border: none;
}

.flex-container {
    display: flex;      
    height: 100vh;
}

/* #alerts {

} */

/* #canva { 
    
} */

/* #side-panel {        
    
} */

/* #chat {    
    
} */


