body{    
    margin: 0;    
    overflow: hidden;        
}

.flex-container {
    display: flex;      
}

#canva { 
    height: 100vh;
}

#side-panel {        
    height: 100%;
}

#chat {
    height: 100%;
    border: none;    
}
